
@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Heavy.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 900;
}

@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Ultrabold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 800;
}


@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Bold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 700;
}


@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Medium.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 500;
}

@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Regular.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 400;
}

@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Light.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 300;
}

@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Ultralight.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 200;
}

@font-face {
  font-family: 'Editorial New';
  src: url('../fonts/Editorial_New/EditorialNew-Thin.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 100;
}




@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 700;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Semibold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 600;
}


@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Medium.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 500;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 400;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Light.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 300;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Heavy.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 800;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Bold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 700;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-SemiBold.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 600;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Medium.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 500;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Regular.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 400;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Book.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 300;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Light.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 200;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('../fonts/Reckless_Neue/RecklessNeue-Thin.otf') format('opentype');
  /* font-style: normal; */
  font-weight: 100;
}
